card {
  display: block;
  margin-bottom: 30px;
}

.collapse {
  display: none;
}

card-header {
  display: flex block;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa559;
  padding: 20px;
  font-family: "JosefinSans", sans-serif;
  font-size: 20px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: #454545 0px 5px 8px 0px;
}

card-content {
  border-top: #454545 1px solid;
  padding: 20px;
  background-color: #ffe6c7;
  border-radius: 0px 0px 30px 30px;
  box-shadow: #454545 0px 5px 8px 0px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Cardo", serif;
  font-size: 1.2em;
  text-align: justify;
}

card-content p {
  margin-bottom: 10px;
  padding: 0;
}

.logo-anchor {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
}

h2 {
  font-family: "JosefinSans", sans-serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

nav {
  position: absolute;
  background-color: #ffe6c7;
  display: flex;
  flex-direction: column;
  top: 70px;
  right: 20px;
  border: #ffa559 5px solid;
  box-shadow: #454545 -7px 6px 14px 0px;
}

.nav-link {
  color: #454545;
  font-family: JosefinSans, sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}