@font-face {
  font-family: 'ADLaMDisplay';
  src: url('../assets/fonts/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Courgette';
  src: url('../assets/fonts/Courgette-Regular.ttf');
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/fonts/GreatVibes-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFE6C7;
}