@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Cardo';
  font-weight: bold;
  src: url('../assets/fonts/Cardo-Bold.ttf');
}

@font-face {
  font-family: 'Cardo';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'Cardo';
  font-style: italic;
  src: url('../assets/fonts/Cardo-Italic.ttf');
}

:root {
  --primary-color: #CF0A0A;
  --secondary-color: #DC5F00;
  --background-color: #EEEEEE;
  --text-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  font-family: 'GreatVibes', 'Brush Script MT', cursive;
  font-size: 40px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  box-shadow: var(--text-color) 0px 0px 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
}

.menu-logo {
  width: 24px;
  height: 24px;
  padding: 13px;
}

main {
  padding: 36px 20px 20px 20px;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  color: var(--secondary-color);
  bottom: 0;
  padding: 10px;
  font-family: 'JosefinSans', 'Tahoma', sans-serif;
}

.footer-link {
  color: var(--secondary-color);
  display: inline;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  top: 70px;
  right: 20px;
  border: var(--primary-color) 5px solid;
  border-radius: 5px;
  box-shadow: var(--text-color) -7px 6px 14px 0px;
  display: none;
}

.nav-link {
  color: var(--text-color);
  font-family: JosefinSans, sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}