@font-face {
  font-family: 'ADLaMDisplay';
  src: url('../assets/fonts/ADLaMDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Courgette';
  src: url('../assets/fonts/Courgette-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Courgette';
  font-size: 32px;
  text-align: center;
}